mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.fileUrl, controls=true)
            h4.videoBlock__title=video.title
            if video.views === 1
                h6.videoBlock__views 1 view
            else
                h6.videoBlock__views #{video.views} views


    //- # mixin: 웹사이트에서 반복되는 코드를 복/붙 하지 않고 재활용하는 방법
    //- # mixin에 인자가 입력되면 그 객체의 이름을 video라고 명명하고 해당 객체의 title을 받아 h1 태그에 집어넣는다.
    //- # 다른 정보를 같은 구조에 넣어서 보여줌